{% extends './partials/__base.html' %}
{% load static %}

{% block page_title %} {{ page_title }} {% endblock page_title %}

{% block content %}
    <main style="
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        background-color: #00aa00;
        color: white;
        font-size: 4rem;"
    >
        <img src="{% static 'images/check.gif' %}" alt="" srcset=""  width="75"/>
        <h1>
            SUCCESS!!
        </h1>
    </main>
{% endblock content %}
